/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@font-face {
  font-family: chillax;
  src: url(./assets/fonts/Chillax-Semibold.woff);
}

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --green-color: #28b089;
  --orange-color: #ff6542;
  --blue-color: #2b529f;
  --yellow-color: #f9c440;
  --dark-color: #111235;
  --text-color: #828a91;
  --body-color: #fff;
  --container-color: #f6f6f6;

  /*Colors gradient*/
  --linear-color-1: linear-gradient(136deg, #de423c, #ff6542);

  --linear-color-2: linear-gradient(136deg, #f9c440, #ff6542);

  /*========== Font and typography ==========*/
  --body-font: "Montserrat", sans-serif;
  --title-font: chillax;
  --biggest-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.875rem;
  --small-font-size: 0.75rem;
  --smaller-font-size: 0.675rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-black: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4 {
  color: var(--dark-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  outline: none;
}

button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding-block: 4.5rem 2rem;
}

.container {
  max-width: 1192px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
}

.main {
  overflow: hidden; /*For animation*/
}

/* TEXTS COLORS */
.orange__text-color {
  color: var(--orange-color);
}

.white__color {
  color: #fff;
}

.yellow__text-color {
  color: var(--yellow-color);
}

.blue__text-color {
  color: var(--blue-color);
}

.green__text-color {
  color: var(--green-color);
}

.background-orange {
  background-color: var(--orange-color);
}
