.advantages__container {
  padding-top: 2.75rem;
  row-gap: 2rem;
}

.advantages__title {
  text-align: center;
  font-family: var(--title-font);
}

.advantages__title-line {
  position: relative;
}

.advantages__title-line::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--green-color);
  bottom: -4px;
}
